.form__container {
  height: 100%;
  overflow: scroll;
}

.form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;

  font-size: 1.6rem;
}

.form__btn-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: end;
  gap: 1.2rem;
}

.form__btn--favorites {
  padding: 8px 12px;
  background: none;
  border: none;
}

.form__fields {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.icon-contact ion-icon {
  font-size: 2.8rem;
  color: #858585;
}

label {
  display: none;
}

.fields {
  width: 100%;
}

input {
  width: 90%;
  padding: 12px 12px;

  border: none;
  border-radius: 8px;
  box-shadow: inset 0 0 2px #858585;

  font-size: 1.6rem;
}

input:focus {
  outline: 1px solid #2187af;
  box-shadow: none;
}

.form__fields-address-container {
  display: flex;
  gap: 2.4rem;
  align-items: start;
  width: 100%;
}

.form__fields--address {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__fields--label {
  align-items: start;
}
.fields-label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__add-label-btn {
  background-color: #8ad3fc;
  text-align: center;
  padding: 1rem 2.4rem;
  border-radius: 20px;
}

.form__color-select {
  padding: 1rem 2.4rem;
  font-size: inherit;
  background: none;
  border: none;

  box-shadow: inset 0 0 4px #8ad3fc;

  border-radius: 4px;
}

.form__color-select:focus {
  outline: 1px solid #8ad3fc;
  border: none;
}

.hidden {
  display: none;
}

.color__label {
  padding: 24px;
}
