.form__container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  position: relative;

  font-size: 1.6rem;
}

.btn {
  max-width: max-content;
  padding: 8px 12px;

  align-self: flex-end;

  border: none;
  background-color: #2187af;
  color: #fff;
  border-radius: 4px;

  font-size: inherit;
  font-weight: 600;
}

.form__fields {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.icon-contact ion-icon {
  font-size: 2.8rem;
  color: #858585;
}

label {
  display: none;
}

.fields {
  width: 100%;
}

input {
  width: 90%;
  padding: 12px 12px;

  border: none;
  border-radius: 8px;
  box-shadow: inset 0 0 2px #858585;

  font-size: 1.6rem;
}

input:focus {
  outline: 1px solid #2187af;
  box-shadow: none;
}
