/* 

1. Text

- Font size in px
11 / 13 / 16 / 19 / 23 / 27 / 33 / 40 / 48

- Line Height

- Letter Spaccing


2. Color

Primary : #2187AF
Secondary

Tints
Shades
#8AD3FC
#e4f3fe

Accent
favorites: #FFD700

Label:
#ffc9c9
#a5d8ff
#96f2d7
#b2f2bb
#d8f5a2
#ffec99
#ffd8a8
#eebefa


Grey
#212529
#343a40
#f1f3f5

3. Shadows
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

4. Border Radius
small : 4px
large : 10


5. White Spaces
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  font-size: 1.6rem;

  padding: 4rem 0;
}

.app {
  max-width: 120rem;
  height: 80vh;
  padding: 2.4rem;
  margin: auto;

  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 4.8rem;
}

/* ------------------------------ */
/* ----------Navigation---------- */
/* ------------------------------ */
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.header {
  gap: 2.4rem;

  max-width: 20rem;
  border: 1px solid #d7d9db;
  border-radius: 1rem;

  padding: 1.2rem 2.4rem;
}

.nav__main {
  gap: 1.2rem;
}

.nav__main-list,
.nav__tags,
.nav__main-non-add {
  gap: 0.8rem;
}

.nav__main-item {
  max-width: 15rem;
  border: 1px solid #f1f3f5;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;

  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.add-contact {
  background-color: #2187af;
  color: #fff;
}

.main-item-text {
  height: 100%;
}

.item-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.label-color-red {
  background-color: #ffc9c9;
}
.label-color-blue {
  background-color: #a5d8ff;
}
.label-color-green {
  background-color: #b2f2bb;
}

ion-icon {
  font-size: 1.8rem;
}

.nav__tags-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* ------------------------------ */
/* ----------Contact List-------- */
/* ------------------------------ */

.main {
  border: 1px solid #333;
  padding: 5rem 2.4rem 1rem;
}

.main__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.secondary--heading {
  font-size: 2.7rem;
  font-weight: lighter;
}

.main__search-form {
  border: 1px solid rgba(52, 58, 64, 0.2);
  border-radius: 10px;
  width: 30rem;
  height: 3rem;
  overflow: hidden;
  padding: 8px 12px;

  display: flex;
}

.form-container {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 2fr;
  gap: 12px;
}

.label {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__search-fields {
  width: 100%;
  font-size: 1.6rem;

  border: none;
}

.main__search-fields:focus {
  outline: none;
}

.form-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  opacity: 0.7;
}

.form-container button:hover,
.form-container button:active {
  opacity: 1;
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1rem;

  padding: 0 1.6rem;
}

.main__container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.main__container-contact {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.main__container-title {
  padding: 1.2rem 1.6rem;
  border-radius: 0.4rem;

  background-color: #8ad3fc;
}
/* --------------------------- */
/* Contact container */
/* --------------------------- */

.contact-list {
  padding: 2rem 1.6rem;
  border: 1px solid #343a4033;
  border-radius: 1rem;

  position: relative;
}

.favorites {
  border: 1px solid #ffd700;
}

.tags {
  display: flex;
  gap: 1.2rem;
}

.tag {
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  padding: 1rem;

  border: 1px solid #d7d9db;
  border-radius: 1rem;
  position: absolute;
  right: 5rem;
  top: -14rem;

  background-color: #fff;
}

.menu-item {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.2rem;

  background-color: #fff;
  border: 1px solid #d7d9db;
  border-radius: 4px;
}

.menu-item:hover,
.menu-item:active {
  background-color: #d7d9db;
}

.hidden {
  display: none;
}
