/* 

1. Text

- Font size in px
11 / 13 / 16 / 19 / 23 / 27 / 33 / 40 / 48

- Line Height

- Letter Spaccing


2. Color

Primary : #2187AF
Secondary

Tints
Shades
#8AD3FC
#e4f3fe

Accent
favorites: #FFD700

Label:
#ffc9c9
#a5d8ff
#96f2d7
#b2f2bb
#d8f5a2
#ffec99
#ffd8a8
#eebefa


Grey
#212529
#343a40
#f1f3f5

3. Shadows
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

4. Border Radius
small : 4px
large : 10


5. White Spaces
*/
